.wrap {
  width: 100vw;
  height: 100vh;
}

.header {
  position: absolute;
  z-index: 10;
  right: 2vw;
  top: 2vw;
}

.button {
  font-weight: bold;
  border: 1px solid #222;
  padding: 0 10px;
}

.button:hover {
  cursor: pointer;
}
