.wrap {
  width: 100vw;
  height: 100vh;
}

.header {
  position: absolute;
  z-index: 10;
  right: 2vw;
  top: 2vw;
}

.button {
  font-weight: bold;
  border: 1px solid #222;
  padding: 0 10px;
  box-shadow: 5px 5px 0 #222;
  transition: 1s;
}

.button:hover {
  cursor: pointer;
  background-color: #222;
  color: #fff;
  box-shadow: -5px -5px 0 red, 5px 5px 0 #ffd700;
}
