.back{
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.8;
    filter: blur(2rem);
    
}

.black{
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}
